@mixin main-circle {
  content: '';
  position: absolute;
  top: -20%;
  left: -1%;
  width: 36px;
  height: 36px;
  background: $main-color;
  border-radius: 100%;
  z-index: -1;
}

@mixin main-divider {
  content: '';
  position: absolute;
  top: 66px;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: $main-color;
}

@mixin main-circle-center {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: $main-color;
  border-radius: 100%;
  z-index: -1;
}

@mixin main-divider-center {
  content: '';
  position: absolute;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: $main-color;
}

@mixin circle-mini {
  content: '';
  position: absolute;
  left: -20px;
  top: 12px;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: $main-color;
  border-radius: 100%;
  z-index: -1;
}
