.footer {
  min-height: 700px;
  background-color: var(--optional-color);
  padding: 200px 0 200px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &__rec {
    position: absolute;
    z-index: -1;
    &_small {
      transform: rotate(90deg);
      left: -10%;
      bottom: 10%;
    }
    &_big {
      bottom: 0;
      right: 10%;
    }
  }
  &__wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__about {
    flex: 1.4;
    span {
      font-size: 33.4px;
      font-weight: 400;
      color: var(--main-color);
    }
  }
  &__info {
    flex: 1.2;
    span {
      font-size: 33.4px;
      font-weight: 400;
      color: var(--main-color);
    }
  }
  &__titles {
    flex: 2;
  }
  &__items {
    list-style: none;
    margin-top: 1rem;
    li {
      a {
        font-family: Roboto;
        font-size: 20.9px;
        line-height: 33px;
        font-weight: 300;
        text-decoration: underline;
        color: var(--main-color);
      }
    }
  }
}
