.portfolio {
  min-height: 740px;
  padding-bottom: 66px;
  &__items {
    margin-top: 85px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    gap: 10px 10px;
    grid-auto-rows: 280px;
    justify-content: center;
    grid-template-areas:
    "uber pulse vegy fitreason"
    "wordpress irvas irvas fitreason";
  }
  &__item {
    transition: .3s all;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      filter: grayscale(.75);
      transform: scale(1.05);
    }
    &:nth-child(1) {
      grid-area: uber;
    }
    &:nth-child(2) {
      grid-area: pulse;
    }
    &:nth-child(3) {
      grid-area: vegy;
    }
    &:nth-child(4) {
      grid-area: fitreason;
    }
    &:nth-child(5) {
      grid-area: wordpress;
    }
    &:nth-child(6) {
      grid-area: irvas;
    }
  }
}
