.roller {
  min-height: 141px;
  padding-bottom: 126px;
  .subtitle {
    &:before {
      left: -13px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 350px;
    margin-bottom: 38px;
  }
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
  }
  &__scale {
    margin-top: 27px;
    width: 350px;
    height: 14px;
    background: #E8E4DE;
    border-radius: 4px;
    div {
      width: 0;
      height: 14px;
      background: $main-color;
      border-radius: 4px;
    }
  }
}
