.custom-select {
  position: relative;
  flex: 1;
  select {
    display: none;
  }
}

.select-selected {
  background-color: DodgerBlue;
  width: 100%;
  border-radius: 25px;
  &.select-arrow-active::after {
    border-color: transparent transparent $optional-color transparent;
    top: 7px;
  }
  &::after {
    position: absolute;
    content: '';
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $optional-color transparent transparent transparent;
  }
}

.select-items div,
.select-selected {
  color: $optional-color;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: transparent;
  top: 116%;
  left: 0;
  right: 0;
  z-index: 99;
  div {
    border-radius: 25px;
    background-color: $main-color;
    margin-top: 5px;
  }
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: $optional-color;
  border: 1px solid $main-color;
  color: $main-color;
}
