$main-color: rgb(33, 134, 235);
$title-color: #334e68;
$text-color: #627d98;
$optional-color: #ffffff;
// html {
//   --main-color: #ffffff;
//   --sub-color: #000000;
//   --optional-color: #2f2f2f;
//   --btn-color: #eeeeee;
// }
